extends layout

include _includes/sharedHTMLfunction

block content
    .col-12
        h1= title

    .d-flex.justify-content-md-around.flex-wrap.col-12
        .p-2.d-inline-flex.flex-column.justify-content-around.col-md-6
            p.p-2
                +showRating(rating)
            p.address.p-2= address
            .card.card-primary.p-2
                    h2.card-title Opening hours
                    .d-flex.flex-wrap.flex-column.justify-content-center
                        each hour in openingHours
                            p.card-text= hour

            .card.card-primary.mt-2.p-2
                    h2.card-title Facilities
                        .d-flex.flex-wrap.justify-content-around
                            each facility in facilities
                                span.badge.bg-warning.p-2.m-2
                                    i.fa.fa-check
                                    small &nbsp;#{facility}


        .card.card-primary.p-2.col-md-4
                h2.card-title Location map
                img.img-fluid.rounded(src=`${imgSrc}`)

        .card.col-12.p-2.mt-3
            h2.card-title
                span Customer reviews
                a.btn.btn-primary.float-end(href='/location/review/new') Add review

            .d-flex.justify-content-around.flex-wrap
                .list-group.p-2.col-12.col-md-8
                    each review in reviews
                        li.list-group-item.d-flex.flex-column
                            span.p-1
                                +showRating(review.rating)
                            h3.p-1= review.name
                            small= review.date
                            h5.m-2= review.review

                .col-12.col-md-3.p-2.float-end
                    p Star cups is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
                    p If you've been and you like it - or if you don't - please leave a review to help other people just like you.